.container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 385px;
  }
  
  .navLink {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    margin: 0 10px;
  }
  
  .navLink:hover {
    text-decoration: underline;
  }
  
  .tableContainer {
    display: flex;
    justify-content: center;
  }
  
  .table {
    width: fit-content;
    border-collapse: collapse;
  }
  
  .tableHeader {
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ddd;
    padding: 10px 20px;
    text-align: left;
  }
  
  .tableCell {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .deleteButton {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }
  
  .deleteButton:hover {
    background-color: #cc0000;
  }
  